SoftwareAnalysisDesign/BMICalculator/SourceCode/BMI_SOAP_CLIENT/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62375/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BMI_WCF_SOAP" />
  <xs:element name="myBMI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="height" type="xs:int" />
        <xs:element minOccurs="0" name="weight" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="myBMIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="myBMIResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="myHealth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="height" type="xs:int" />
        <xs:element minOccurs="0" name="weight" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="myHealthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BMI_WCF_SOAP" minOccurs="0" name="myHealthResult" nillable="true" type="q1:Bmi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>