SoftwareAnalysisDesign/BMICalculator/SourceCode/BMI_SOAP_CLIENT/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BMI_WCF_SOAP" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BMI_WCF_SOAP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Bmi">
    <xs:sequence>
      <xs:element minOccurs="0" name="BmiValue" type="xs:double" />
      <xs:element minOccurs="0" name="GetLink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="More" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Risk" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bmi" nillable="true" type="tns:Bmi" />
</xs:schema>