SoftwareAnalysisDesign/BMICalculator/SourceCode/BMI_SOAP_CLIENT/Web References/ServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="myBMI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="height" type="xs:int" />
        <xs:element minOccurs="0" name="weight" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="myBMIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="myBMIResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>